{% extends 'base.html'%}
{% load static %}

{% block title %}Index{% endblock %}



{% block styles %}

<link href="{% static 'management/main.css' %}" rel="stylesheet">


{% endblock %}



{% block content %}
<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-start">
    <a href="{% url 'management:start' %}"><button style="font-size: 2rem; color: black" class="btn btn-outline-success me-2" type="button">&nbsp;Management&nbsp</button></a>
    <a href="{% url 'pressure:main' %}"><button style="font-size: 2rem; color: black" class="btn btn-outline-success me-2" type="button">&nbsp;&nbsp;&nbsp;Pressure&nbsp;&nbsp;&nbsp</button></a>
    <a href="{% url 'culture:main' %}"><button style="font-size: 2rem; color: black" class="btn btn-outline-success me-2" type="button">&nbsp;&nbsp;Culture Club&nbsp;&nbsp</button></a>
    <a href="#"><button style="font-size: 2rem; color: black" class="btn btn-outline-success me-2" type="button">&nbsp;&nbsp;Bills&nbsp;&nbsp</button></a>
    <a href="#"><button style="font-size: 2rem; color: black" class="btn btn-outline-success me-2" type="button">&nbsp;&nbsp;book learning continue&nbsp;&nbsp</button></a>
    <a href="{% url 'kitchen:formularz' %}"><button style="font-size: 2rem; color: black" class="btn btn-outline-success me-2" type="button">&nbsp;&nbsp;shopping list&nbsp;&nbsp</button></a>
  </form>
</nav>
<h2 class="info">
  {% for message in messages %}
        {{ message }}
    {% endfor %}
</h2>


{% endblock %}
